{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<!-- Used by custom part of the link to show the form -->
{{if 'form' in globals():}}
	<!-- Handle errors here -->
	<ul>
		{{for error in form.errors:}}
			<li>Error in field {{=error}}</li>
		{{pass}}
	</ul>
	{{=form}}
{{pass}}

<!--  The hello message is shown here -->
{{if 'message' in globals():}}
	<h3>{{=message}}</h3>
	<ul>
		<li>{{=A(T("Default"),_href=URL('index'))}}</li>
		<li>{{=A(T("Simple"),_href=URL('simple'))}}</li>
		<li> {{=A(T("Custom"),_href=URL('custom'))}}</li>
	</ul>
{{pass}}



{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
<h6>{{=T("Don't know what to do?")}}</h6>
<ul>
  <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
</ul>
{{end}}
 
 <!--  Debug tool bar just to help out -->
{{ if 'DEVELOPMENT_MENU' in globals(): }}
{{=response.toolbar()}}
{{pass}}